mixin img(options={})
    - 
        const defaults = {}
        const settings = Object.assign({}, defaults, options)
        const attrs = {
            src: ''
        }

        if (settings.attrs.src.indexOf('http') !== 0) {
            attrs.src = pathToFile+settings.attrs.src
        }
        
    img&attributes(attrs)