.section {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 9rem;

    &__header {
        max-width: 32rem;
        margin: 0 auto 9rem auto;
        text-align: center;

        @include breakpoint(md) {
            max-width: 48rem;
        }
    }

    &__heading {
        margin-bottom: 2rem;
        text-align: center;
        font-size: 2.4rem;
        line-height: 1.4;
        color: $dark;

        @media (min-width: $breakpoint)
        {
            max-width: 54rem;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 1rem;
            font-size: 3.6rem;
        }
    }

    &__subheading {
        font-size: 1.6rem;
        color: $grey-dark;
    }
    
    &__lead {
        margin-bottom: 4.8rem;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.8;
        color: $grey;

        @media (min-width: $breakpoint)
        {
            max-width: 54rem;
            margin-right: auto;
            margin-left: auto;
            font-size: 1.8rem;
        }
    }
}
